<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content [formGroup]="newStudentForm">
  <div class="row">
    <div class="col-12">
      <mat-form-field class="w-100">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          [ngClass]="{'is-invalid': nameError}"
          formControlName="name"
        >
        <mat-error *ngIf="nameError">{{nameError}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          type="text"
          [ngClass]="{'is-invalid': lastNameError}"
          formControlName="lastName"
        >
        <mat-error *ngIf="lastNameError">{{lastNameError}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          [ngClass]="{'is-invalid': emailError}"
          formControlName="email"
        >
        <mat-error *ngIf="emailError">{{emailError}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100">
        <mat-label>Qualification (Average)</mat-label>
        <input
          matInput
          type="number"
          [ngClass]="{'is-invalid': avgQualificationError}"
          formControlName="avgQualification"
        >
        <mat-error *ngIf="avgQualificationError">{{avgQualificationError}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-checkbox formControlName="active" checked>Is Active?</mat-checkbox>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="!newStudentForm.valid"
    (click)="onSubmit()"
  >
    Add
  </button>
</mat-dialog-actions>

