<table mat-table [dataSource]="students" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let student">{{student.id}}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let student">{{student.name}}</td>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let student">{{student.lastName}}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let student">{{student.email}}</td>
  </ng-container>
  <ng-container matColumnDef="avgQualification">
    <th mat-header-cell *matHeaderCellDef>Qualification (Avg)</th>
    <td mat-cell *matCellDef="let student"><app-star [avgQualification]='student.avgQualification' /></td>
  </ng-container>
  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef>Active</th>
    <td mat-cell *matCellDef="let student" [ngClass]="!student.active ? 'inactive': ''">
      <mat-icon *ngIf="student.active; else inactive">person</mat-icon>
      <ng-template #inactive><mat-icon>person_off</mat-icon></ng-template>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let student">
      <button mat-icon-button color="primary" (click)="editStudent(student)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteStudent(student)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
