<div class="container">
    <div class="row mb-3">
        <div class="col-12">
            <button mat-flat-button color="primary" (click)="addSubject()">
                <mat-icon>add</mat-icon>
                Add Subject
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-subject-table
                [subjects]="(subjects | async) || []"
                (delete) = "deleteSubject($event)"
                (edit) = "editSubject($event)"
            />
        </div>
    </div>
</div>

