<h1 mat-dialog-title>{{title}}</h1>
<mat-dialog-content [formGroup]="newCurseForm">
    <div class="row">
        <div class="col-12">
            <mat-form-field class="w-100">
                <mat-label>Name</mat-label>
                <input
                        matInput
                        type="text"
                        [ngClass]="{'is-invalid': nameError}"
                        formControlName="name"
                >
                <mat-error *ngIf="nameError">{{nameError}}</mat-error>
            </mat-form-field>
        </div>
        <div class="col-12">
            <mat-form-field class="w-100">
                <mat-label>Capacity</mat-label>
                <input
                        matInput
                        type="number"
                        [ngClass]="{'is-invalid': capacityError}"
                        formControlName="capacity"
                >
                <mat-error *ngIf="capacityError">{{capacityError}}</mat-error>
            </mat-form-field>
        </div>
        <div class="col-12">
            <mat-form-field class="w-100">
                <mat-label>Duration</mat-label>
                <input
                        matInput
                        type="text"
                        [ngClass]="{'is-invalid': durationError}"
                        formControlName="duration"
                >
                <mat-error *ngIf="durationError">{{durationError}}</mat-error>
            </mat-form-field>
        </div>
        <div class="col-12">
            <mat-checkbox formControlName="active" checked>Is Active?</mat-checkbox>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button
            mat-flat-button
            color="primary"
            [disabled]="!newCurseForm.valid"
            (click)="onSubmit()"
    >
        Add
    </button>
</mat-dialog-actions>

