<table mat-table [dataSource]="curses" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let curse">{{curse.id}}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let curse">{{curse.name}}</td>
  </ng-container>
  <ng-container matColumnDef="capacity">
    <th mat-header-cell *matHeaderCellDef>Capacity</th>
    <td mat-cell *matCellDef="let curse">{{curse.capacity || 'Not defined'}}</td>
  </ng-container>
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef>Duration (Weeks)</th>
    <td mat-cell *matCellDef="let curse">{{curse.duration}}</td>
  </ng-container>
  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef>Active</th>
    <td mat-cell *matCellDef="let curse" [ngClass]="!curse.active ? 'inactive': ''">
      <mat-icon *ngIf="curse.active; else inactive">person</mat-icon>
      <ng-template #inactive><mat-icon>person_off</mat-icon></ng-template>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let curse">
      <button mat-icon-button color="primary" (click)="editCurse(curse)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteCurse(curse)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
